{% extends 'base.html.twig' %}

{% block title %}Actualité{% endblock %}
{% block titleHeader %}Actualité{% endblock %}
{% block body %}
{# <?php
            // echo "1";
           foreach($actus as $actu)
           {
            //    echo "1";
            echo'<p class="dateActu">Article poster le '.$actu['date'].'</p>';
            echo'<div class="row">';
            echo'<img src="images/'.$actu['image'].'" class="imgActu col-12 col-md-8">';
            echo'</div>';
            echo'<p class="txtActuPage">'.utf8_decode($actu['texte']).'</p>';
           }
            

            ?> #}
{% endblock %}
