{% extends 'base.html.twig' %}

{% block title %}Actualité{% endblock %}
{% block titleHeader %}Actualité{% endblock %}
{% block body %}


            <p class="dateActu">Article poster le {{actu.createdAt|date("d/m/Y à H:i:s")}}</p>
            <div class="row">
            <img src="/uploads/{{actu.image}}" class="imgActu col-12 col-md-7">
            </div>
            <div class="txtActuPage"><p>{{actu.text}}<p></div>
{% endblock %}
