{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% block js %}
	<link rel="stylesheet" href="{{asset('assets/css/styleAccueil.css')}}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&family=Kanit:wght@100;200&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
{% endblock %}
{% block titleHeader %}Accueil
{% endblock %}
{% block body %}

	<div class="accueil">
		<div class="accueilLeft">
			<p class="accueilTitle roboto">TITAN <br>Studios</p>
			<p class="accueilText josefin">
				Studio de développement multiplateformes, nous proposons un service personnalisé capable de s'adapter à tous vos besoins :
				création, refonte, maintenance et mise en ligne de sites internet, développement d'applications mobiles, VR et AR.
				Notre équipe Nantaise vous accompagne avec grande attention, de la création à la réalisation de votre projet.
			</p>
			<a href="{{path("realisations")}}">
				<input type="button" class="buttonAccueil roboto" value="DECOUVRIR">
			</a>

		</div>
		<div class="accueilRight">
			<video src="{{ asset('assets/img/video_accueil.mp4')}}"  class="accueilImg" autoplay loop></video>
		</div>

	</div>

{% endblock %}
