{% extends 'admin.html.twig' %}

{% block title %}Administration-Accueil{% endblock %}



{% block header %}{% include "admin/header.html.twig" %}{% endblock %}

{% block body %}
<h2>Accueil de la partie administration</h2>
{% endblock %}
