{% extends 'admin.html.twig' %}

{% block title %}Administration-Type réalisation{% endblock %}

{% block header %}{% include "admin/header.html.twig" %}{% endblock %}

{% block body %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Types</th>
      <th scope="col"><a href="{{path('admin_add_type')}}"><button type="button" class="btn btn-success" >add</button></a></th>
    </tr>
  </thead>
  <tbody>
  {% for type in Types %}
    <tr class="borderTop">
      <th scope="row">{{type.id}}</th>
      <td>{{type.type}}</td>
      <td><a href='<?php echo 'index.php?id='. $staff['id'].'&action=modify&type=staff'; ?>'><button type="button" class="btn btn-warning" >modif</button></a><a href="<?php echo 'index.php?id='. $staff['id'].'&action=delete&type=staff'; ?>"><button type="button" class="btn btn-danger" >suppr</button></a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}