<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}TitanStudios{% endblock %}</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" href="{{asset('assets/img/Logo_TITANStudios_BLACK.png')}}">
        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Holtwood+One+SC" rel="stylesheet" type="text/css">
        <script src="https://kit.fontawesome.com/de97e88153.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="{{asset('assets/css/styleAdmin.css')}}">
        <script src="{{asset('assets/js/scriptAdmin.js')}}"></script>
    </head>
    

    <body>
        {# Header #}
            {% block header %}
                
            {% endblock %}
        
        {# Body #}

        {# <div class="container site"> #}
            {% block body %}
                
            {% endblock %}

        {# </div> #}
        
        

</footer>
    </body>
    
</html>