{% extends 'admin.html.twig' %}

{% block title %}Administration-Accès Admin{% endblock %}

{% block header %}{% include "admin/header.html.twig" %}{% endblock %}

{% block body %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">nom</th>
      <th scope="col">mot de passe</th>
    </tr>
  </thead>
  <tbody>
    <tr class="borderTop">
      <th scope="row">{{access.id}}</th>
      <td>{{access.username}}</td>
      <td>{{access.password}}</td>
    </tr>
  </tbody>
</table>

<div class="container site">
<hr>
  <h2 class="TitleDelete">Etes vous sur de vouloir supprimer cet administrateur?</h2>
  {{form(form)}}
</div>
{% endblock %}