{% extends 'admin.html.twig' %}

{% block title %}Administration-Type réalisation{% endblock %}

{% block header %}{% include "admin/header.html.twig" %}{% endblock %}

{% block body %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Types</th>
    </tr>
  </thead>
  <tbody>
    <tr class="borderTop">
      <th scope="row">{{type.id}}</th>
      <td>{{type.type}}</td>
    </tr>
  </tbody>
</table>

<div class="container site">
<hr>
  <h2 class="TitleDelete">Etes vous sur de vouloir supprimer ce type?</h2>
  {{form(form)}}
</div>
{% endblock %}