{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}
{% block titleHeader %}Erreur{% endblock %}

{% block body %}
    <div class="block-small">
        <h2>Une erreur c'est produite!</h2>
        <p>Désolé, quelque chose c'est mal passer.</p>
        <a href='{{path('home')}}' class='btn btn-info mt-3'>Revenir à l'accueil</a>
    </div>
{% endblock %}